<head>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>GhanaPostGPS API Generation Platform</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" />
    <!-- Google Fonts -->
    <link href="/static/css/gfont.css" rel="stylesheet" type="text/css">
    <link href="/static/css/material.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/themes/all-themes.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
  </head>
